<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khách sạn Haven Inn</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    <h2>Đổi Mật Khẩu</h2>

    <!-- Hiển thị thông báo lỗi nếu có -->
    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

            <form action="/login/doimatkhau/<%= userId %>" method="POST">
                <!-- Trường ẩn để giả lập phương thức PUT -->
                <input type="hidden" name="_method" value="PUT">

                <label for="matKhauCu">Mật Khẩu Cũ:</label>
                <input type="password" name="matKhauCu" id="matKhauCu" required><br>

                <label for="matKhauMoi">Mật Khẩu Mới:</label>
                <input type="password" name="matKhauMoi" id="matKhauMoi" required><br>

                <button type="submit">Đổi Mật Khẩu</button>
            </form>

</body>

</html>