<div style="height: 100%; width: 100%; text-align: center; justify-content: center;">
    <h1>Error 404</h1>
<p><%= message %></p>

<a href="http://localhost:3000/web/auth/login" >Quay lại trang đăng nhập</a>

<div>
    <img src="/public/images/qrweb.png" style="height: 400px; width: 300px; margin-top: 30px;">
    <p>Quét mã để đăng nhập trực tuyến</p>
</div>

</div>